.footer {
    position: fixed;
    bottom: 0;
    left: 0; /* Adicionei para garantir alinhamento */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #836FFF; /* Mesma cor exata */
    border-top: 2px solid #6495ED; /* Mudei para border-top */
    padding: 0.75rem; /* Padronizei com o header */
    z-index: 1000; /* Mesmo z-index do header */

}

.footer h2 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}